html {
}
body {
  margin: 0;
  padding: 0;
}
.page_content {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-around;
  gap: 1rem;
}
.item_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(40%, 450px);
  min-height: 400px;
  border: 1px solid red;
}

.container {
  width: max(40%, 400px);
  min-height: 300px;
  border: 5px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.container > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------ cube */
.cube {
  background: #101724;
}
.cube_white_rhombus {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 15%;
  left: 25%;
  background-color: white;

  -webkit-mask-image: radial-gradient(ellipse, transparent 40%, black 41%);
  mask-image: radial-gradient(ellipse, transparent 40%, black 41%);

  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.cube_transparent_rhombus {
  height: 30%;
  width: 30%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: gold;
}

.cube .two {
  top: 35%;
  background: blue;
}

.cube_rect {
  position: absolute;
  width: 5%;
  height: 20%;
  background: linear-gradient(white 25%, blue 75%);
}

.cube_rect_one {
  top: 20%;
  left: 47.5%;
}
.cube_rect_two {
  top: 40%;
  left: 70%;
}
.cube_rect_three {
  top: 60%;
  left: 47.5%;
}
.cube_rect_four {
  top: 40%;
  left: 25%;
}

/* ------------------------------------------ tower */

.tower {
  background-color: #67aed4;
}

.tower .ground_floor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #fff;
}
.ground_floor .window_S {
  height: 80%;
  width: 10%;
  background: #67aed4;
}

.ground_floor .window_XL {
  height: 80%;
  width: 15%;
  background: #0f2836;
}

.tower .main_building {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 95%;
  width: 23.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_building > * {
  background: #fff;
}
.main_building .top {
  width: 15%;
  height: 20%;
}
.main_building .middle {
  width: 60%;
  height: 20%;
}
.main_building .bottom {
  width: 100%;
  height: 60%;
}
/* ------------------------------------------ connection */

.connection {
  background-color: #3f4869;
  /* padding: 10%; */
}

.connection .red {
  background-color: #e25c57;
}

.connection .yellow {
  background-color: #f4da64;
}

.connection .half_circle {
  position: absolute;
  width: 40%;
  height: 50%;
  clip-path: circle(50% at 50% 100%);
}

.connection .part1 {
  left: 20%;
}
.connection .part2 {
  right: 20%;
}
.connection .part3 {
  transform: rotate(180deg);
  left: 20%;
  bottom: 0;
}
.connection .part4 {
  transform: rotate(180deg);
  bottom: 0;
  right: 20%;
}

/* ------------------------------------------ Glasses */
.glasses {
  background-color: #558c90;
  display: flex;
  align-items: center;
}
.glasses .middle_rect {
  height: 15%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.glasses .wrapper {
  display: flex;
  width: 60%;
  height: 100%;
}
.glasses .circle_xl {
  width: 100%;
  height: 300%;
  clip-path: circle(45% at center);
  background-color: #fff;
  transform: translateY(-30%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.glasses .circle_s {
  width: 50%;
  height: 50%;
  clip-path: circle(44% at center);
  background-color: #325853;
}

/* ------------------------------------------ Rocket */

.rocket {
  background-color: #b0e1fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocket .blue {
  background-color: #4b4d88;
}
.rocket .red {
  background-color: #c15965;
}

.rocket .wrapper {
  position: relative;
  width: 40%;
  height: 85%;
  display: flex;
  justify-content: center;
}

.rocket .body {
  width: 40%;
  height: 85%;
  border-radius: 50px;
  z-index: 0;
}

.rocket .footing {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
}
.rocket .mask {
  position: absolute;
  bottom: 10%;
  height: 45%;
  width: 70%;
  clip-path: circle(50% at center);
  background-color: #b0e1fb;
}
.rocket .right_wing {
  position: absolute;
  top: 45%;
  right: 0;
  width: 25%;
  height: 15%;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}
.rocket .left_wing {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 25%;
  height: 15%;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

/* ------------------------------------------ UFO */

.ufo {
  background-color: #2f434e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ufo .red {
  background-color: #e25c57;
}

.ufo .yellow {
  background-color: #f3ac3c;
}

.ufo .wrapper {
  width: 70%;
  height: 60%;
  position: relative;
  display: flex;
  justify-content: center;
}

.ufo .tube {
  width: 70%;
  height: 100%;
  clip-path: circle(45% at 50% 65%);
}

.ufo .bottom_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
}
.ufo .base {
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 20% 0%, 80% 0%, 100% 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ufo .circle {
  width: 10%;
  height: 50%;
  clip-path: circle();
}

/* ------------------------------------------ Boat */

.boat {
  background-color: #eef8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boat .ship_container {
  width: 45%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

.boat .sail {
  flex-grow: 1;
  width: 100%;
  background-color: #4a7d7b;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
}

.boat .hull {
  width: 100%;
  height: 25%;
  background-color: #4a7d7b;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
}

.boat .water_container {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  display: flex;
  background-color: #8ab8b6;
  display: flex;
}

.boat .wave {
  flex-grow: 1;
  height: 50%;
  background-color: #eef8ff;
  border-radius: 50%;
  transform: translateY(-50%);
}

/* ------------------------------------------ Flower */

.flower {
  background-color: #5f133f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower .rose {
  background-color: #f7bed9;
}

.flower .inflorescence {
  width: 15%;
  height: 15%;
  clip-path: circle();
}

.flower .petal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 13%;
  height: 70%;
}

.flower .triangle_up {
  flex-grow: 1;
  width: 100%;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.flower .rect {
  height: 70%;
  width: 100%;
  background-color: #f075b0;
}

.flower .triangle_down {
  flex-grow: 1;
  width: 100%;
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
}

.flower .rotate_60 {
  transform: rotate(60deg);
}
.flower .rotate_120 {
  transform: rotate(120deg);
}

/* ------------------------------------------ Friday13th */

.friday13th {
  background-color: #a5b5b4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friday13th .mask {
  position: relative;
  width: 40%;
  height: 65%;
  background-color: #fff;
  border-radius: 50%;
}

.friday13th .eyes {
  position: relative;

  height: 45%;
  display: flex;
  align-items: flex-end;
  padding: 0 0.5rem;
}

.friday13th .eye {
  width: 50%;
  height: 40%;
  background-color: #000;
  clip-path: circle();
}

.friday13th .mouth {
  margin-top: 5%;

  height: 40%;
  width: 35%;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 33.3%);
  justify-items: center;
  align-items: center;
}

.friday13th .dot {
  width: 40%;
  height: 40%;
  background-color: #000;
  border-radius: 50%;
}

.friday13th .forehead_dott {
  position: absolute;
  width: 7%;
  height: 7%;
  background-color: #000;
  clip-path: circle();
}

.friday13th .dot_1 {
  left: 35%;
  top: 10%;
}
.friday13th .dot_2 {
  top: 10%;
  right: 35%;
}
.friday13th .dot_3 {
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

/* ------------------------------------------ Brazil Flag */

.brazil {
  background-color: #009b3a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brazil .rhombus {
  width: 70%;
  height: 70%;
  background-color: #fedf00;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.brazil .circle {
  width: 100%;
  height: 100%;
  background-color: #002776;
  clip-path: circle(23% at center);
}

.brazil .line {
  position: absolute;
  align-items: flex-end;
  width: 40%;
  height: 50%;
  border: 10px solid #fff;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

/* ------------------------------------------Wizard Hat */

.wizard_hat {
  background-color: #f4dcbf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wizard_hat .gray {
  background-color: #30383f;
}

.wizard_hat .absolute {
  position: absolute;
}

.wizard_hat .triangle {
  width: 25%;
  height: 50%;
  clip-path: polygon(50% 0, 100% 100%, 0% 100%);
  top: 18%;
}
.wizard_hat .ellipse {
  top: 65%;
  width: 40%;
  height: 20%;
  clip-path: ellipse();
  display: flex;
  justify-content: center;
  align-items: center;
}

.wizard_hat .line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 70%;
  height: 70%;
  border: 10px solid #556d7f;
  border-radius: 50%;
  z-index: -1;
}

.wizard_hat .emblemat {
  width: 20%;
  height: 30%;
  background-color: #fbd038;
  border-radius: 10px;
}
